.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-header {

  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

.search-bar {
  width: 50%;
  border-radius: 20px;
  padding: 4px 20px;
  border: none;
  font-family: Urbanist;
}

.search-section {
  display: none;
  margin-bottom: 3%;
}

.active {
  background-color: black;
  color: white;
  border-bottom: 8px solid red !important;
}

.inactive {
  background-color: black;
  color: rgba(255, 255, 255, 0.4);
}

.show {
  display: block;
}

.title {
  font-size: 400%;
  font-weight: 900;
  margin-bottom: 2%;
}

.hide {
  display: none;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  padding: 10vh 4vh 0vh 4vh;
  position: fixed;
  gap: 3%;
  overflow-y: auto;
}

.dropdown {
  border-radius: 20px;
  font-family: Urbanist;
  padding: 4px 20px;
  border: none;
  width: 100%;
  justify-self: left;
  text-align: left;
}

.dropdowns {
  text-align: left;
}

#now-playing-tab,
#search-tab {
  border: 0px;
  font-size: 300%;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  width: min-content;

  transition-duration: 0.25s;
}

#load-more {
  height: 4vh;
  width: 30vh;
  margin: 1vh 0vh;
  border-radius: 5px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  background-color: transparent;
  border: none;
  border-color: rgba(255, 255, 255, .8);
}

#movie-info {
  padding: 4% 0% 1% 0%;
  margin-left: 35vh;
  width: 100%;
}

#footer {
  height: 8%;
  display: block;
  justify-content: center;
  align-content: center;
  color: rgba(255, 255, 255, .3)
}
