.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

.search-bar {
  width: 50%;
  border-radius: 20px;
  padding: 4px 20px;
  border: none;
  font-family: Urbanist;
}

.search-section {
  display: none;
  margin-bottom: 3%;
}

.active {
  background-color: black;
  color: white;
  border-bottom: 8px solid red !important;
}

.inactive {
  background-color: black;
  color: rgba(255, 255, 255, 0.4);
}

.show {
  display: block;
}

.title {
  font-size: 300%;
}

.hide {
  display: none;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100vh;
  padding: 20vh 10vh 0vh 10vh;
  position: fixed;
  gap: 3%;
}

.dropdown {
  border-radius: 20px;
  font-family: Urbanist;
  padding: 4px 20px;
  border: none;
  width: 100%;
  justify-self: left;
  text-align: left;
}

.dropdowns {
  justify-content: right;
}

#now-playing-tab,
#search-tab {
  border: 0px;
  font-size: 300%;
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  text-align: left;

  transition-duration: 0.25s;
}

#movie-info {
  padding: 1% 0% 1% 0%;
  margin-left: 35vh;
  width: 100%;
}
