.movie-card {
    border: 2px grey solid;
    border-radius: 20px;
    margin: 2% 0%;
    width: 15%;
}

#movie-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.star {
    color: #ebc445;
}
