.movie-card {
    border-radius: 20px;
    margin: 2% 0%;
    width: 26.06vh;
    height: 39.1vh;
    background-size: 100%;
    align-content: end;
    box-shadow: 0vh 0vh .5vh 0vh rgba(255, 255, 255, 0.1);
    text-align: left;

    transition-duration: .6s;
}
.movie-card:hover {
    cursor: pointer;
    box-shadow: 0vh 0vh 2vh 2vh rgba(255, 255, 255, 0.2);
}

#movie-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

#movie-title {
    font-size: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    margin-bottom: 0
}

#movie-card-text {
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    height: 36%;
    border-radius: 0px 0px 20px 20px;
    padding: 0.5vh 2vh 3vh;
}

.star {
    color: #ebc445;
}
