.modal-content {
    padding-right: 5%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video {
    width: 70%;
    height: 45%;
    border: 0px;
    padding: 0% 5% 10% 5%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#movie-modal {
    z-index: 1;
    position: fixed;
    left: 25%;
    top: 15%;
    width: 96vh;
    height: 54vh;
    background-size: 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

#movie-modal {
    color: white;
}

#modal-img {
    width: 40%;
    border-radius: 20px;
}

#modal-title {
    font-size: 300%;
    margin-bottom: 0%;
}

#close-span {
    display: flex;
    justify-content: right;
    padding: 5% 5% 0% 5%;
}

#close-button:hover {
    cursor: pointer;
}

#modal-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9%;
}
