#watched-card {
    background-size: 100%;
    width: 80%;
    height: 10vh;
    text-align: left;
    border-radius: 6px;
    margin-top: 2%;
    padding: 1% 4%;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.6);
}
